
# venv
.venv/
# python
__pycache__/
*.pyc
*.pyo
*.pyd
# testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
# OS
.DS_Store
Thumbs.db
# IDE
.vscode/
.idea/
# app data
data/**/*
!data/.gitkeep
